.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 700;
    text-align: center;
}

.crypto {
    font-weight: 500;
    font-size: 10pt;
    color: slategray;
    text-align: center;
}

.currency {
    font-weight: 500;
    font-size: 18pt;
    color:darkslategray;
    text-align: center;
}